.container {
}
.main {
}
.main_box {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_container {
    width: 70%;

    background-color: white;
    border-radius: 4px;
}
.index_header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--border);
}
.index_header_box {
    p {
        font-size: 24px;
        font-weight: 700;
    }
}
.index_main {
}
.index_main_box {
    margin: 16px;
}
.index_item {
    border: 2px solid orange;
    border-radius: 4px;
    margin-bottom: 16px;
}
.index_item_box {
    display: flex;
    padding: 8px 0;
    justify-content: space-around;
}
.index_item_left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 20px;
        font-weight: 700;
    }
}
.font_size {
    p {
        font-size: 22px;
        color: red;
    }
}
.index_item_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.index_item_right_button {
    background: var(--add);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    user-select: none;
    p {
        font-size: 20px;
        font-weight: 700;
        padding: 4px 16px;
        color: white;
    }
}
.index_item_right_button:hover {
    opacity: 0.6;
}
.popup_detailmodel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
}
.popup_off {
    display: none;
}
.turnoff_popup_bg {
    background-color: #0b0a0a; /* Màu nền */
    filter: blur(3px);
}
.turnoff_popup_bg::before {
    content: '';
    background-color: #f0f0f0; /* Màu nền */
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.popup {
    height: 80vh;
    width: 100%;
    position: absolute;
    z-index: 8;
}
.popup_box {
    background-color: white;
    border: 2px solid orange;
    border-radius: 4px;
    display: flex;
    position: relative;
}
.popup_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.popup_item {
    margin: 8px;

    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    p {
        font-size: 24px;
        font-weight: 700;
        color: orange;
    }
}
.popup_item_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    p {
        font-size: 24px;
        font-weight: 700;
        padding: 8px 16px;
    }
    input {
        font-size: 24px;
        font-weight: 600;
        padding: 8px 16px;
        border: 2px solid orange;
        border-radius: 4px;
    }
}
.popup_item_circle {
    height: 85%;
    width: 85%;
    border-radius: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: orange;
        font-size: 24px;
        font-weight: 700;
    }
}
.popup_cancel {
    position: absolute;
    right: 5px;
    top: -4px;
    font-size: 24px;
    color: orange;
}
.popup_cancel:hover {
    opacity: 0.6;
}
.left {
    background: var(--add);
}
.left_color {
    color: rgb(10, 207, 10) !important;
}
.popup_item_box {
}
.popup_item_label {
    width: 200px;
}
.pop_up_button {
}
.pop_up_button_main {
    background: var(--edit);
    border-radius: 4px;
    user-select: none;
    p {
        color: white;
        padding: 4px 16px;
    }
}
.pop_up_button_main:hover {
    opacity: 0.6;
}
