.back {
    width: 52px;
    height: 52px;
    font-size: 32px;
    font-weight: 600;
    background: var(--back);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 16px 0 0 16px;
}
.back:hover {
    opacity: 0.6;
}
