.container {
}
.main {
    height: 100vh;
}
.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.main_front {
    display: flex;

    width: 80%;
    height: 70%;
}
.main_front_left {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: var(--back);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    background: var(--add) !important;
}
.main_front_left_box {
    height: 85%;
    width: 85%;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    color: orange;
    p {
        font-size: 52px;
        margin-right: 8px;
    }
}
.left_color {
    color: rgb(10, 207, 10);
}
.main_front_box_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_front_box_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.type {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--edit);
    border-radius: 28px;
    margin-top: 16px;
    p {
        font-size: 32px;
        font-weight: 700;
        color: white;
        padding: 8px 24px;
    }
}
.main_behind {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30%;
}

.main_behind_detail_box :hover {
    opacity: 0.6;
}
.main_behind_detail_box {
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 32px;
    user-select: none;
    background: var(--edit);
    p {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f2f2;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(95, 91, 91);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background: var(--edit);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.state_led {
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 8px 8px 8px 8px;
}
.label_box {
    margin-right: 24px;
    width: 220px;
    background: var(--edit);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_center {
    margin-top: 64px;
}
.main_center_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
