.container {
    background-color: white;
}
.container {
    position: relative;
}
.option {
    position: absolute;
    display: flex;
    right: 50px;
    top: -2px;
    width: 64px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    select {
        height: 32px;
    }
}
.back {
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}
.back:hover {
    opacity: 0.6;
}
