.container {
    background-color: white;
}
.container {
    position: relative;
}
.option {
    position: absolute;
    right: 48px;
    top: 0px;
    width: 64px;
    z-index: 100;
    select {
        height: 32px;
    }
}
